.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #8a93a7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
